body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body .substat-tag {
    padding-top: 0;
    font-weight: bolder;
    font-size: x-small;
    text-align: center;
}

body .stat-grid {
    width: 14%;
}

body .substat-value {
    font-size: smaller;
    text-align: center;
    padding-bottom: 0;
    padding-top: 0;
}

body .ranked-position {
    max-width: 100%;
    height: auto;
}

body .games-amount {
    width: 15%;
}

body .ranked-position-size {
    width: 15%;
}

body .ui-card {
    background: #ffffff;
    color: #495057;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin: 0.1rem;
    padding: 0.2rem;
}
body .ui-card-body {
    padding: 1rem;
}
body .ui-card-title {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
body .ui-card-sidetitle {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}
body .ui-card-subtitle {
    font-weight: 400;
    margin-bottom: 0.5rem;
    color: #6c757d;
}
body .ui-card-content {
    padding: 1rem 0;
}
body .ui-card-footer {
    padding: 1rem 0 0 0;
}


.h1 {
    box-sizing: border-box;
    display: table-cell;
    font-family: sans-serif;
    font-size: 16px;
    height: 10%;
    width: 100%;
}

.maincontainer {
    width: 100%;
    height: 100%;
    padding: 5px;
}

.content {
    width: 100%;
    padding: 15px;
    height: 100%;
}

.side {
    height: 100%;
    width: 300px;
    padding: 5px;
    background-color: #fff;
    z-index: 1;
    overflow: auto;
    animation: animateright 0.4s
}

@keyframes animateright {
    from {
        right: -300px;
        opacity: 0
    }
    to {
        right: 0;
        opacity: 1
    }
}

.w3-container, .w3-panel {
    padding: 0.01em 16px
}

.sideLeagueTable {
    border-collapse: collapse;
    border: 1px solid #000000;
}

.sideLeagueTableHeader {
    text-align: center;
    background: none repeat scroll 0 0 #B5B5B5;
    border-bottom: 1px solid #000000;
    padding: 2px;
}

.sideLeagueTableUpRow {
    text-align: center;
    background: none repeat scroll 0 0 darkseagreen;
    margin: 5px 10px;
}

.sideLeagueTableEvenRow {
    text-align: center;
    background: none repeat scroll 0 0 #D3D3D3;
    margin: 5px 10px;
}

.sideScheduleTableRow {
    text-align: center;
    background: none repeat scroll 0 0 #D3D3D3;
    margin: 0 10px;
}

.sideLeagueTableDownRow {
    text-align: center;
    background: none repeat scroll 0 0 indianred;
    margin: 5px 10px;
}

.col1 {
    width: 150px;
}

.col2 {
    width: 170px;
}

.col3{
    width: 90px;
}

.col4 {
    width: 60px;
}

.col5 {
    width: 30px;
}


.team-item {
    width: 100%;
    display: block;
    padding: 5px 10px;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;
    text-align: center;

    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    cursor: pointer;
}

.team-item:hover {
    color: #000 !important;
    background-color: #ccc !important
}

.team-item:disabled {
    cursor: not-allowed;
    opacity: 0.3
}

.smaller .ui-datatable .ui-datatable-data tr{
    height : 15px;
    max-height: 15px;
}

.homeChampStats .ui-datatable .ui-datatable-data tr{
    height : 15px;
    max-height: 15px;
}

.pickBans .ui-datatable .ui-datatable-data tr{
    height : 15px;
    max-height: 15px;
}